@{
    ViewBag.Title = "JoinSwimming";
}
@Styles.Render("~/Content/Homepage")
<h1>@ViewBag.Title</h1>
    <img src="@Url.Content("~/Content/images/1.png")" alt="" class="img-responsive" />
<br/>
<br/>
<div class="Row">
    <div class="Column">
        <a href="@Url.Action("Course", "Activities")">
            <img src="@Url.Content("~/Content/images/course.png")" alt="course" class="image" />
            <div class="overlay">
                <div class="text">Course</div>
            </div>
        </a>
        <div class="text-caption">Course</div>
    </div>
    <div class="Column">
        <a href="@Url.Action("QulitifyE", "Activities")">
            <img src="@Url.Content("~/Content/images/qualifying examination.png")" alt="qualifying examination" class="image" />
            <div class="overlay">
                <div class="text">Exame</div>
            </div>
        </a>
        <div class="text-caption">Exame</div>
    </div>
    <div class="Column">
        <a href="@Url.Action("Event", "Activities")">
            <img src="@Url.Content("~/Content/images/events.png")" alt="events" class="image" />            
            <div class="overlay">
                <div class="text">Events</div>
            </div>
        </a>
        <div class="text-caption">Events</div>
    </div>
</div>

