@{
    ViewBag.Title = "JoinSwimming";
}
<link href="~/Content/test.css" rel="stylesheet" />
<h1>@ViewBag.Title</h1>
<div>
    <img src="@Url.Content("~/Content/images/1.png")" alt="" class="img-responsive" />
</div>
<h2>You can select to Join Swimming:</h2>
<div class="Row">
    <div class="Column">
        <a href="@Url.Action("About", "Home")">
            <img src="@Url.Content("~/Content/images/course.png")" alt="course" class="image" />
            <div class="overlay">
                <div class="text">Course</div>
            </div>
        </a>
        <div class="text-caption">Course</div>
    </div>
    <div class="Column">
        <a href="@Url.Action("About", "Home")">
            <img src="@Url.Content("~/Content/images/qualifying examination.png")" alt="qualifying examination" class="image" />
            <div class="overlay">
                <div class="text">Qualifying Examination</div>
            </div>
        </a>
        <div class="text-caption">Qualifying Examination</div>
    </div>
    <div class="Column">
        <a href="@Url.Action("About", "Home")">
            <img src="@Url.Content("~/Content/images/events.png")" alt="events" class="image" />            
            <div class="overlay">
                <div class="text">Events</div>
            </div>
        </a>
        <div class="text-caption">Events</div>
    </div>
</div>

