@model Assignment.Models.Activity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActivityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityPlace.ActivityPlaceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityPlace.ActivityPlaceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityType.ActivityTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityType.ActivityTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityCategory.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityCategory.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
