@model IEnumerable<Assignment.Models.Activity>

@{
    ViewBag.Title = "QulitifyingExamination";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<h2>QulitifyingExamination</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityCategory.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityPlace.ActivityPlaceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityType.ActivityTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityCategory.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityPlace.ActivityPlaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityType.ActivityTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityRating)
            </td>
            <td>
                @Html.ActionLink("Book", "Book", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/Scripts/DataTables")
    }
