@model IEnumerable<Assignment.Models.JoinLog>

@{
    ViewBag.Title = "MyActivity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyActivity</h2>

<div style="padding-bottom: 10px">
    <a href="@Url.Action("Report", "Report")" class="btn btn-primary">
        <span>
            <strong>Generate Your Personal Report</strong>
        </span>
    </a>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Activity.ActivityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoinDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Activity.ActivityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JoinDate)
        </td>
        <td>
            @if (item.Activity.ActivityStartDate > DateTime.Now)
            {
            @Html.ActionLink("Cancel", "Delete", new { id = item.Id })
            }
            else { 
            <p>Activity Done</p>
            }
        </td>
    </tr>
}

</table>
