@model IEnumerable<Assignment.Models.ActivityPlace>

@{
    ViewBag.Title = "Place";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Place</h2><div id="map" style="height:500px"></div>
<br. />
<br />
<br />
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActivityPlaceName)
        </th>
        <th style="display: none">
            @Html.DisplayNameFor(model => model.ActivityPlaceLongitude)
        </th>
        <th style="display: none">
            @Html.DisplayNameFor(model => model.ActivityPlaceLatitude)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr class="coordinates">
            <td class="description">
                @Html.DisplayFor(modelItem => item.ActivityPlaceName)
                <br />
                @for (int i = 0; i < Convert.ToInt32(item.Rating); i++)
                {
                    <span class="glyphicon glyphicon-star"></span>
                }
                @for (int i = Convert.ToInt32(item.Rating); i < 5; i++)
                {
                    <span class="glyphicon glyphicon-star-empty"></span>
                }
                <span> ( @Html.DisplayFor(modelItem => item.Rating) ) </span>
            </td>
            <td class="latitude" style="display: none" >
                @Html.DisplayFor(modelItem => item.ActivityPlaceLatitude)
            </td>
            <td class="longitude" style="display: none">
                @Html.DisplayFor(modelItem => item.ActivityPlaceLongitude)
            </td>
            <td>
                <a href="@Url.Action("Display", "Rating", new { id = item.Id})" class="glyphicon glyphicon-edit">
                    <span>
                        <strong>Comment</strong>
                    </span>
                </a>
            </td>

        </tr>
    }
</table>
@section Scripts {
    @Scripts.Render("~/bundles/mapbox")
}
