@model IEnumerable<Assignment.Models.RatingLog>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<h2>@ViewBag.Title</h2>

<div style="padding-bottom: 10px">
    <a href="@Url.Action("Place", "Location")" class="btn btn-primary">
        <span>
            <strong>Back</strong>
        </span>
    </a>
</div>

<table class="table" id="dtable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                User
            </th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                   
                    @Html.Raw(item.Comments);
                    <br />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                    <br />
                    <p>Comment on: @Html.DisplayFor(modelItem => item.RatingDate) </p>
                </td>
                <td>
                    @for (int i = 0; i < item.Rating; i++)
                    {
                        <span class="glyphicon glyphicon-star"></span>
                    }
                    @for (int i = item.Rating; i < 5; i++)
                    {
                        <span class="glyphicon glyphicon-star-empty"></span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@using (Html.BeginForm("RatingAndComment", "Rating", FormMethod.Post, new { onsubmit = "return VerifyRating()" }))
{
    <h2> Put your Only Comment</h2>
    <textarea rows="10" cols="120" name="Comments" id="Contents"> </textarea>
    <div onmouseout="RateSelected()">
        <span id="span1" onmouseout="RateOut(1)" onmousemove="RateOver(1)" onclick="RateClick(1)" class="glyphicon glyphicon-star-empty"></span>
        <span id="span2" onmouseout="RateOut(2)" onmousemove="RateOver(2)" onclick="RateClick(2)" class="glyphicon glyphicon-star-empty"></span>
        <span id="span3" onmouseout="RateOut(3)" onmousemove="RateOver(3)" onclick="RateClick(3)" class="glyphicon glyphicon-star-empty"></span>
        <span id="span4" onmouseout="RateOut(4)" onmousemove="RateOver(4)" onclick="RateClick(4)" class="glyphicon glyphicon-star-empty"></span>
        <span id="span5" onmouseout="RateOut(5)" onmousemove="RateOver(5)" onclick="RateClick(5)" class="glyphicon glyphicon-star-empty"></span>
    </div>
    <div>
        <input type="hidden" name="Rating" id="fnrating" value="0" />
    </div>
    <div>
        <input type="hidden" name="PlaceId" id="PlaceId" value="@ViewBag.Id" />
    </div>
    <div>
        <input type="submit" class="btn btn-primary active" name="SaveComment" value="Save Coment" />
    </div>
}


@section Scripts{
    @Scripts.Render("~/Scripts/dataTables")
    @Scripts.Render("~/bundles/Rating")
    @Scripts.Render("~/bundles/TinyMce")

}